header {
    background: url(../slike/POZADINATELSAMED\ \(1\).png);
    background-size: cover;
    height: 100vh;
}

.logo {
    width: 377px;
    height: 347px;
    position: absolute;
    top: -85px;
    left: -100px;
}