@media only screen and (min-width: 768px) {
    header {
        background: url(../slike/POZADINASAMED\ \(2\).png);
        background-size: cover;
    }
    .logo {
        width: 371px;
        height: 478px;
        position: absolute;
        top: -150px;
        left: -100px;
    }
}

@media screen and (max-width: 380px) {
    .logo {
        top: -123px;
        left: -26vw;
    }
}