@media only screen and (min-width: 768px) {
    .bearhost {
        background: url(../slike/POZADINASAMED\ \(2\).png);
        background-size: cover;
        height:115vh;
    }
    
    .logo {
        width: 371px;
        height: 478px;
        position: absolute;
        top: -150px;
        left: -100px;
    }
    
    .carousel.carousel-slider{
        height:80vh;
    }
    .product-slider-desc{
        font-size:2vw;
        width:70vw;
        height:12vh;
        margin: auto;
    }
    
    .carousel .control-dots .dot {
        width:14px;
        height:14px;
        background:blue;
        outline:none;
    }
    

    
}
@media screen and (min-width:1000px){
    .carousel.carousel-slider {
        height:70vh;
    }
}
@media screen and (min-width:1200px){
    .carousel.carousel-slider {
        height:80vh;
    }
    h1{
        font-size: 3.625rem;
    }
}


@media screen and (max-width: 380px) {
    .logo {
        top: -123px;
        left: -26vw;
    }
}

@media screen and (max-width: 768px){
    .body {
        background-image: url('../slike/POZADINATELLOGIN.png');
        background-size: 100vw 100vh;
    }
}