:root {
	--text-color-primary: #fff;
	--text-color-secondary: #38628c;
	--accent-color-primary: #ff9933;
	--accent-color-secondary: #143d66;
	--background-color-primary: #041526;
	--background-color-secondary: #062340;

	--alternate-text-color-primary: #062340;
	--alternate-text-color-secondary: #8faecc;
	--alternate-background-color-primary: #fff;
	--alternate-background-color-secondary: #ebf4ff;

	--gradient-text-color-primary: #fff;
	--gradient-text-color-secondary: #062340;
	--gradient-background-color-primary: #ff9933;
	--gradient-background-color-secondary: #ffcc33;

	--header-background-color: #041526;
	--header-logo-font-size: 32px;
	--header-logo-height: 40px;

	--box-shadow-color: rgba(4, 21, 38, 0.25);
	--box-shadow-size: 48px;

	--transition-timing-function: ease;
	--transition-duration: 0.25s;

	--font-size-heading-1: 48px;
	--font-size-heading-2: 32px;
	--font-size-heading-3: 24px;
	--font-size-heading-4: 20px;
	--font-size-heading-5: 16px;
	--font-size-body: 16px;
	--font-spacing: 12px;

	--container-width: 1200px;
	--element-spacing: 40px;
	--border-radius: 12px;
}
.uk-icon:not(.uk-preserve) [stroke*='#']:not(.uk-preserve) {
    fill: white!important;
}
.section-secondary {
    background-color: var(--background-color-secondary);
    padding:30px 0;
    
}
.container {
	width: calc(100% - (var(--element-spacing) * 2));
	max-width: var(--container-width);
	padding: 0 var(--element-spacing);
	margin: 0 auto;
}
section .section-header {
	margin: 0 auto;
	text-align: center;
}

section .section-header p {
	max-width: 700px;
	margin-left: auto;
	margin-right: auto;
}
.flex {
    display: flex;
    margin-left: 0;
    margin-right: 0;
}

.flex > * {
    width: 100% !important;
    padding: 0;
    
}

.flex.flex-center-bottom {
	align-items: center;
    justify-content: center;
    align-items: flex-end;
}



.flex > .flex-33 {
    width: 33.33%;
    height:fit-content;
    padding:5px;
    
}
.box {
	position: relative;
    display: block;
    margin-top: 50px;
	box-shadow: 0 calc(var(--box-shadow-size) / 2) var(--box-shadow-size) var(--box-shadow-color);
    border-radius: var(--border-radius);
    
}
.box .box-label {
	position: absolute;
	top: 0;
	left: 0;
	margin: 0 var(--element-spacing);
	color: var(--gradient-text-color-primary);
	line-height: calc(var(--font-size-body) + var(--font-spacing) - 4px);
	padding: calc(var(--element-spacing) / 6) calc(var(--element-spacing) / 3);
	background: linear-gradient(90deg, var(--gradient-background-color-primary), var(--gradient-background-color-secondary));
	background-color: var(--gradient-background-color-primary);
	border-radius: calc(var(--border-radius) / 2);
	transform: translate(0, -50%);
}
.box .box-label.box-label-center {
	left: 0;
	right: 0;
	text-align: center;
}
.box .box-content {
	color: var(--alternate-text-color-primary);
    background-color: var(--alternate-background-color-primary);
    padding:30px;
    height:fit-content;
}
.fas, .fab {
	line-height: 1.15;
}
.kom{
    font-size: var(--font-size-body);
    line-height: calc(var(--font-size-body) + var(--font-spacing));
    color:black;
    font-size:1.25rem;
    margin-top: 10px;
    height:80px;
}
.kom-author{
    color:lightgray;
    font-size:1.1rem;
}



@media (max-width: 1280px) {
	:root {
		--element-spacing: 30px;
    }

}

@media (max-width: 1024px) {
	#header:not(.header-navigation-overlay) .header-navigation {
		display: none;
	}

	#header .header-navigation-overlay-trigger {
		display: block;
    }

    
}

@media (max-width: 900px) {
	.container {
		width: calc(100% - (var(--element-spacing) * 4));
		padding: 0 calc(var(--element-spacing) * 2);
	}

	.tab .tab-navigation {
		display: block;
		border-radius: var(--border-radius);
	}

	.tab .tab-navigation li {
		margin-right: 0 !important;
		border-radius: calc(var(--border-radius) / 1.25);
	}

	.flex {
		display: block;
		margin-left: 0;
		margin-right: 0;
	}

	.flex > * {
		width: 100% !important;
		padding: 0;
	}

	.flex > *:not(:first-child),
	.flex.flex-large > *:not(:first-child) {
		margin-top: calc(var(--element-spacing) * 2);
	}

	.flex.flex-small > *:not(:first-child) {
		margin-top: var(--element-spacing);
	}

	table:not(.table-static) tr,
	table:not(.table-static) tr td,
	table:not(.table-static) tr th {
		display: block;
		box-sizing: border-box;
		width: 100% !important;
		text-align: center !important;
	}

	table:not(.table-static) tr td,
	table:not(.table-static) tr th {
		padding: calc(var(--element-spacing) / 4) !important;
	}

	table:not(.table-static) tr td:first-child,
	table:not(.table-static) tr th:first-child {
		padding-top: calc(var(--element-spacing) / 2) !important;
	}

	table:not(.table-static) tr td:last-child,
	table:not(.table-static) tr th:last-child {
		padding-bottom: calc(var(--element-spacing) / 2) !important;
	}

	table:not(.table-static) > *:first-child tr:first-child td:first-child,
	table:not(.table-static) > *:first-child tr:first-child th:first-child,
	table:not(.table-static) > *:first-child tr:first-child td:last-child,
	table:not(.table-static) > *:first-child tr:first-child th:last-child,
	table:not(.table-static) > *:last-child tr:last-child td:first-child,
	table:not(.table-static) > *:last-child tr:last-child th:first-child,
	table:not(.table-static) > *:last-child tr:last-child td:last-child,
	table:not(.table-static) > *:last-child tr:last-child th:last-child  {
		border-radius: 0;
	}

	table:not(.table-static) > *:first-child tr:first-child td:first-child,
	table:not(.table-static) > *:first-child tr:first-child th:first-child {
		border-top-left-radius: var(--border-radius);
		border-top-right-radius: var(--border-radius);
	}

	table:not(.table-static) > *:last-child tr:last-child td:last-child,
	table:not(.table-static) > *:last-child tr:last-child th:last-child {
		border-bottom-left-radius: var(--border-radius);
		border-bottom-right-radius: var(--border-radius);
	}

	#header .header-navigation-overlay-trigger {
		right: calc(var(--element-spacing) * 2);
    }

}

@media (max-width: 640px) {
	:root {
		--header-logo-font-size: 26px;
		--header-logo-height: 32px;

		--font-size-heading-1: 32px;
		--font-size-heading-2: 24px;
		--font-size-heading-3: 20px;
		--font-size-heading-4: 16px;
		--font-size-heading-5: 16px;
		--font-size-body: 16px;
		--font-spacing: 12px;
	}

	dl {
		display: block;
	}

	dl dd {
		padding-left: 0;
	}

	.container {
		width: calc(100% - (var(--element-spacing) * 2));
		padding: 0 var(--element-spacing);
	}

	.box.box-large .box-label {
		margin: 0 var(--element-spacing);
		padding: calc(var(--element-spacing) / 6) calc(var(--element-spacing) / 3);
	}

	.box.box-large .box-header,
	.box.box-large .box-content,
	.box.box-large .box-footer {
		padding: var(--element-spacing);
	}

	.box.box-large hr {
		margin: var(--element-spacing) calc(var(--element-spacing) * -1);
	}

	#header .header-navigation-overlay-trigger {
		right: var(--element-spacing);
	}

	section .section-header h1 + p,
	section .section-header-feature h1 + p {
		font-size: var(--font-size-body);
		line-height: calc(var(--font-size-body) + var(--font-spacing));
	}

	section .section-header-feature h1 {
		font-size: var(--font-size-heading-1);
		line-height: calc(var(--font-size-heading-1) + var(--font-spacing));
	}
}