@media only screen and (min-width: 800px) {
    .links {
        flex-direction: row;
    }
    .uk-navbar-nav {
        margin-top: 10px;
        margin-right: -25px;
    }
    .logout,
    .login {
        left: 400px;
        height: 50px;
        top: 37px;
    }
    .logout:hover {
        color: grey;
    }
    .white {
        color: white;
        text-decoration: none;
    }
    .login>*:hover {
        text-decoration: none;
        color: grey;
    }
    .uk-navbar-dropdown.uk-open {
        display: block;
    }
    [class*=uk-navbar-dropdown-bottom] {
        margin-top: 2px;
    }
    .uk-navbar-dropdown {
        width:15vw;
        background: rgb(255, 255, 255, 0.975);
        box-shadow: -10px -10px 30px 4px rgba(1, 14, 49, 0.5),
              10px 10px 30px 4px rgba(255, 255, 255, 0.2);
    }
    .uk-navbar-dropdown-nav>li{
        line-height: 1.2rem;
    }
    .uk-navbar-dropdown-nav>li>a{
        color:blue;
        border-bottom: 1px solid lightgray;
        
    }
    .uk-navbar-container:not(.uk-navbar-transparent) {
        right: 250px;
    }
}

@media only screen and (min-width: 1000px) {
    .uk-navbar-dropdown {
        left: 70px!important;
    }
    .list-mem {
        margin-right: 20px;
    }
    .uk-navbar-nav {
        margin-right: 20px;
    }
    .logout,
    .login {
        left: 550px;
    }
}

@media only screen and (min-width: 1200px) {
    .uk-navbar-dropdown {
        left: 90px!important;
    }
    .uk-navbar-nav>li>a {
        font-size: 1.2rem;
    }
    .uk-navbar-nav {
        margin-right: 100px;
    }
    .logout,
    .login {
        left: 750px;
    }
}

@media screen and (max-width: 280px) {
    .uk-icon>* {
        color: black;
    }
}